
<%= simple_form_for(@tenant) do |f| %>
  <% if @tenant.errors.any? %>
    <div id="error_explanation">
      <h4>
        <%= pluralize(@tenant.errors.count, "error") %>
        prohibited this @tenant from being saved:
      </h4>
      <ul>
        <% @tenant.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name %>

    <% if @tenant.logo.attached? %>
      <%= image_tag @tenant.logo, size: "50x50" %>
      <%= @tenant.logo.filename %>
      <%= number_to_human_size(@tenant.logo.byte_size) %>
    <% end %>
    <%= f.input :logo %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
